@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(41, 49, 51);
}

.wh100{
    width: 200px;
    height: 60px;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

.vh100{
    height: 100vh;
}

section {
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.intro{
    background: linear-gradient(180deg, #293133, #22292b); /*rgb(41, 49, 51)*/
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.product{
    background-color: rgb(64, 69, 82);
}

.longnothing{
    height: 10vh;
    width: 1px;
}

.logo{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin: 0 70px 0 70px
}

img{
    margin-right: 15px;
    width: 90px;
    height: 90px;
}


.accessories{
    background-color: rgb(56, 60, 74);
}

.aboutus{
    background-color: rgb(75, 81, 98);
}

#highlight{
    color: rgb(82, 148, 226);
}



.hidden{
    opacity: 0;
    filter: blur(3px);
    transform: translateY(10%);
    transition: all 1s;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.mheader{
    background-color: rgb(41, 49, 51); /*rgb(30, 36, 37)*/
    position: fixed;
    transition: 0.6s;
}

header.navscroll{
    background-color: rgb(19, 23, 24);
    padding-top: 1vh;
}

.logo {
    user-select: none;
}

.navigation a {
    justify-content: center;
    align-content: center;
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin: 10px;
    padding: 6px 15px;
}

.lnk{
    border-radius: 10px;
    background: none;
}

.lnc{
    border-radius: 10px;
    border-color: rgb(82, 148, 226);
    border-width: 1px;
    border-style: solid;
}

.lnk:hover{
    background: rgba(59, 105, 161, 0.7);
    transition: ease 0.2s;
}

.mcont{
    display: flex;
    align-content: center;
    justify-content:center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.choices{
    background-color: rgb(30, 36, 37);
    background-image: url(/pattern.svg);
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20vh;
    width: 160vh;
    height: 10vh;
    border-radius: 20px;
}

.pr{
    align-self: center;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pr a{
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(30, 36, 37, 1);
    margin: 3vh;
}

.r1{
    background-image: url(phone1.png);
    background-position: center;
    background-size: cover;
}

.r2{
    background-image: url(laptop.png);
    background-position: center;
    background-size: cover;
}

.r3{
    background-image: url(pc.png);
    background-position: center;
    background-size: cover;
}


.laptops{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 160vh;
    height: auto;
    margin-top: 10vh;
    background-color: rgb(30, 36, 37, 1);
    border-radius: 10px;
}

.laptopsz{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 160vh;
    height: auto;
    margin-top: 9vh;
    background-color: rgb(30, 36, 37, 1);
    border-radius: 10px;
}

.lHead{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lh1{
    color: white;
    margin: 2vh 8vh 3vh 8vh;
    font-weight: 700;
    font-size: 2.5em;
}

.cList{
    display: flex;
    justify-content: center;
    height: auto;
}

.lList{
    height: 45vh;
    width: 29vh;
    background-color: #203030;
    margin: 0 1vh 4vh 1vh;
    border-radius: 10px;
}

.picture{
    background-color: rgb(26, 28, 29);/*rgb(195, 188, 195)*/
    width: 29vh;
    height: 30vh;
    border-radius: 10px 10px 0px 0px;
}

.picturel{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.description{
    background-color: rgb(26, 28, 29);/*rgb(195, 188, 195, 0.9)*/
    width: 29vh;
    height: 15vh;
    border-radius: 0px 0px 10px 10px;
}

.descriptionl{
    font-weight: 600;
    font-size: 1.4em;
    color: #fff;
    display: flex;
}

.descriptionl1{
    font-weight: 600;
    font-size: 1.4em;
    color: #fff;
    display: flex;
}

/* top right bottom left */

.dpl{
    text-decoration: none;
}

.pct{
    color: white;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.pct1{
    color: #a5a5a5;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: left;
    margin-left: 3vh;
    font-size: 0.8em;
}

.pct2{
    color: #ff3d3d;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: left;
    margin-left: 3vh;
    padding-top: 1vh;
    font-size: 0.9em;
}

.pct3{
    color: white;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0vh 1vh 0vh 2.5vh;
}

.branding{
    color: rgb(198, 228, 116);
}

.divider{
    color: #fff;
    margin: 0 10px 0 10px;
}

.lolxd{
    color: white;
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 2em;
    padding-left: 100px;
    font-weight: 800;
}


.lHeader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ckList{
    display: flex;
    justify-content:space-around;
    height: auto;
    flex-wrap: nowrap;
}

.ppicture{
    background-color: #203030;
    width: 50vh;
    height: 55vh;
    margin-bottom: 5vh;
    border-radius: 10px;
}

.pspecs{
    width: 100vh;
    height: 55vh;
    display: flex;
    background-color: #203030;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.specn{
    height: 100%;
    width: 30%;
    color: white;
    align-content: center;
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 5vh 5vh;
    flex-direction: column;
}

.specl{
    height: 100%;
    width: 70%;
    color: white;
    align-content: center;
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin: 5vh 5vh;
    padding: 5vh 5vh;
    flex-direction: column;
}

.specl h1{
    font-weight: 400;
    font-size: 1em;
}

.specn h1{
    font-weight: 600;
    font-size: 1em;
}

.typewriter h4 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid aqua; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(60, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: aqua; }
  }


.abotus{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.notau{
    width: 95%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notaux{
    width: 95%;
    height: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: 800;
    font-size: 2em;
}

.pfpic{
    width: 25vh;
    height: 25vh;
}

.pfname{
    width: 25vh;
    height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 47, 52);
    border-radius: 0px 0px 10px 10px;
}

.pftitle{
    width: 25vh;
    height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 47, 52);
    border-radius: 10px 10px 0px 0px;
}

.pfname h3{
    font-weight: 800;
    font-size: 1em;
}

.profile1{
    width: 30vh;
    height: 35vh;
}

.profile2{
    width: 30vh;
    height: 35vh;
}

.profile3{
    width: 30vh;
    height: 35vh;
}

.profile4{
    width: 30vh;
    height: 35vh;
}

.profile5{
    width: 30vh;
    height: 35vh;
}

.profile6{
    width: 30vh;
    height: 35vh;
}

.contactlist{
    width: 5vh;
    height: 5vh;
    border-width: 5px;
    border-style: solid;
    border-color: #fff;
    user-select: all;
    margin: 5vh;
}

.contactliz{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    user-select: all;
}

.notauz{
    width: 95%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tplogo{
    width: 100%;
    height: 70%;
    margin-left: 20vh;
    opacity: 0.1;
}

.tpinno{
    font-weight: 900;
    font-size: 2em;
}